$yellowColor: #fdc800;
$georgiaFont: 'georgia-regular-font';
$interFont: 'inter-regular';
$mainColor: #002147;
$grayBackgroundColor: #f0f4f9;
$subnumbersColors: #00b2b2;
$subHeaderColor: #757575;
$mainFont: 16px;
