.generic-nav .generic-nav__info-nav {
  background-color: #fdc800; }
  .generic-nav .generic-nav__info-nav .info-nav__main-info {
    padding: 15px 0;
    color: #002147;
    display: flex;
    align-items: center;
    font-size: calc(13px + (14 - 13) * ((100vw - 1366px)/ (1920 - 1366)));
    font-family: "inter-regular";
    font-weight: 500;
    line-height: 1.21;
    color: #002147; }
    .generic-nav .generic-nav__info-nav .info-nav__main-info .main-info__location {
      margin-right: 48px; }
    .generic-nav .generic-nav__info-nav .info-nav__main-info .main-info__social-icons {
      margin-left: auto;
      font-size: calc(15px + (16 - 15) * ((100vw - 1366px)/ (1920 - 1366))); }
      .generic-nav .generic-nav__info-nav .info-nav__main-info .main-info__social-icons a {
        color: #002147;
        margin-right: 11px; }
        .generic-nav .generic-nav__info-nav .info-nav__main-info .main-info__social-icons a:last-child {
          margin-right: 0; }
.generic-nav .generic-nav__main-nav {
  padding-top: 17px;
  padding-bottom: 21px;
  background-color: #f0f4f9; }
  .generic-nav .generic-nav__main-nav .navbar-brand {
    color: #002147;
    line-height: 1.33;
    font-family: "inter-regular";
    font-size: calc(21px + (24 - 21) * ((100vw - 1366px)/ (1920 - 1366)));
    font-weight: 800; }
  .generic-nav .generic-nav__main-nav .navbar-nav .nav-item {
    margin-right: 35px; }
    .generic-nav .generic-nav__main-nav .navbar-nav .nav-item:last-child {
      margin-right: 64px; }
    .generic-nav .generic-nav__main-nav .navbar-nav .nav-item .nav-link {
      color: #002147;
      font-family: "inter-regular";
      font-weight: bold;
      font-size: calc(16px + (16 - 14) * ((100vw - 1920px)/ (1920 - 1366)));
      line-height: 1.31;
      padding: 0; }
  .generic-nav .generic-nav__main-nav form .yellow-button {
    margin-right: 16px; }

.generic-header .small-header {
  color: #fdc800;
  font-size: calc(14px + (16 - 14) * ((100vw - 1366px)/ (1920 - 1366)));
  font-family: "inter-regular";
  font-weight: bold;
  line-height: 3.75;
  margin-bottom: -17px; }
.generic-header .big-header {
  color: #002147;
  font-size: calc(35px + (48 - 35) * ((100vw - 1366px)/ (1920 - 1366)));
  font-family: "georgia-regular-font";
  font-weight: bold;
  line-height: 1.25;
  max-width: 80%;
  text-transform: uppercase; }

.generic-subscribe {
  padding-top: 80px;
  padding-bottom: 81.2px; }
  .generic-subscribe .subscribe__info {
    padding-top: 95.5px; }
    .generic-subscribe .subscribe__info .info__small-header {
      color: #fdc800;
      font-size: calc(15px + (16 - 15) * ((100vw - 1366px)/ (1920 - 1366)));
      font-family: "inter-regular";
      font-weight: bold;
      line-height: 3.75; }
    .generic-subscribe .subscribe__info .info__big-header {
      color: #002147;
      font-size: calc(35px + (48 - 35) * ((100vw - 1366px)/ (1920 - 1366)));
      font-family: "georgia-regular-font";
      font-weight: bold;
      line-height: 1.25;
      max-width: 80%;
      margin-top: -19px;
      margin-bottom: 26px; }
    .generic-subscribe .subscribe__info form {
      border: 1px solid #bdbdbd;
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding: 5px 6px 5px 12px; }
      .generic-subscribe .subscribe__info form .form__input {
        width: 50%; }
        .generic-subscribe .subscribe__info form .form__input .icon-message {
          margin-right: 16px; }
        .generic-subscribe .subscribe__info form .form__input input {
          border: none; }
          .generic-subscribe .subscribe__info form .form__input input:focus {
            outline: none; }
      .generic-subscribe .subscribe__info form .form__button {
        width: 50%;
        text-align: right; }
        .generic-subscribe .subscribe__info form .form__button .subscribe--button {
          min-width: 164px;
          padding: 10px 20px;
          margin-left: auto; }

.custom-card {
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  margin-bottom: 30px;
  background-color: #fff;
  height: 92%;
  position: relative; }
  .custom-card .card__image-border {
    position: relative; }
    .custom-card .card__image-border::before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 56.25%; }
    .custom-card .card__image-border .inner-image {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0; }
      .custom-card .card__image-border .inner-image img {
        width: 100%; }
  .custom-card .item__title {
    margin-top: 23px;
    padding: 0 16px 0 16px; }
    .custom-card .item__title h4 {
      font-family: "inter-regular";
      font-weight: bold;
      font-size: calc(18px + (20 - 18) * ((100vw - 1366px)/ (1920 - 1366)));
      line-height: 1.2;
      color: #002147;
      margin-bottom: 0; }
  .custom-card .item__footer {
    padding: 0 16px 15px 16px;
    margin-bottom: 0; }
    .custom-card .item__footer p {
      font-family: "inter-regular";
      font-size: calc(14px + (14 - 14) * ((100vw - 1920px)/ (1920 - 1366)));
      color: #757575;
      line-height: 1.71;
      margin-bottom: 0; }
  .custom-card .card__small-image {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #f0f4f9;
    padding: 8px;
    bottom: 102px;
    left: 16px; }

@font-face {
  font-family: 'georgia-regular-font';
  src: url(fonts/georgia/georgia-regular-font.eot);
  src: url(../../CSS/fonts/georgia/georgia-regular-font.eot?#iefix) format("embedded-opentype"), url(../../CSS/fonts/georgia/georgia-regular-font.otf) format("otf"), url(../../CSS/fonts/georgia/georgia-regular-font.svg) format("svg"), url(../../CSS/fonts/georgia/georgia-regular-font.ttf) format("truetype"), url(../../CSS/fonts/georgia/georgia-regular-font.woff) format("woff"), url(../../CSS/fonts/georgia/georgia-regular-font.woff2) format("woff2"); }
@font-face {
  font-family: 'inter-regular';
  src: url(fonts/inter/inter-regular.eot);
  src: url(fonts/inter/inter-regular.eot?#iefix) format("embedded-opentype"), url(fonts/inter/inter-regular.otf) format("otf"), url(fonts/inter/inter-regular.svg) format("svg"), url(fonts/inter/inter-regular.ttf) format("truetype"), url(fonts/inter/inter-regular.woff) format("woff"), url(fonts/inter/inter-regular.woff2) format("woff2"); }
.container {
  padding: 0; }

a {
  text-decoration: none; }

.yellow-button {
  min-width: 115px;
  padding: 11px 20px;
  background-color: #fdc800;
  font-size: calc(14px + (16 - 14) * ((100vw - 1366px)/ (1920 - 1366)));
  color: #002147;
  text-transform: capitalize;
  border-radius: 4px;
  border: none;
  font-family: "inter-regular";
  display: flex;
  justify-content: center;
  align-items: center; }

.search-button {
  padding: 9px;
  min-width: 44px;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  color: #002147;
  font-size: calc(14px + (16 - 14) * ((100vw - 1366px)/ (1920 - 1366)));
  font-family: "inter-regular";
  display: flex;
  justify-content: center;
  align-items: center; }

.outer {
  position: relative; }
  .outer::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 56.25%; }
  .outer .inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.custom-counter {
  position: relative; }
  .custom-counter::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%; }
  .custom-counter .custom-counter__image {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; }

@media (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 0.75rem 0 0.75rem; } }
@media (min-width: 576px) {
  .container {
    max-width: 540px; } }
@media (min-width: 768px) {
  .container {
    max-width: 720px; } }
@media (min-width: 992px) {
  .container {
    max-width: 960px; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }
@media (min-width: 1920px) {
  .container {
    max-width: 1170px; } }
.home-page .home-page__header {
  background-color: #f0f4f9;
  padding-bottom: 264px; }
  .home-page .home-page__header .header__info-nav {
    background-color: #fdc800;
    padding: 12px 0;
    color: #002147; }
    .home-page .home-page__header .header__info-nav .info-nav__main-info {
      width: 50%;
      font-size: calc(12px + (14 - 12) * ((100vw - 1366px)/ (1920 - 1366)));
      font-family: "inter-regular";
      font-weight: 500;
      line-height: 1.21;
      color: #002147; }
      .home-page .home-page__header .header__info-nav .info-nav__main-info .icon-message::before {
        font-size: calc(16px + (16 - 14) * ((100vw - 1920px)/ (1920 - 1366)));
        margin-left: 49px; }
    .home-page .home-page__header .header__info-nav .info-nav__social-icons {
      width: 50%;
      text-align: right;
      font-weight: bold;
      font-size: calc(16px + (16 - 14) * ((100vw - 1920px)/ (1920 - 1366))); }
      .home-page .home-page__header .header__info-nav .info-nav__social-icons a {
        color: #002147;
        margin-right: 11px; }
        .home-page .home-page__header .header__info-nav .info-nav__social-icons a:last-child {
          margin-right: 0; }
  .home-page .home-page__header .header__main-nav {
    padding-top: 17px;
    padding-bottom: 21px; }
    .home-page .home-page__header .header__main-nav .navbar-brand {
      color: #002147;
      line-height: 1.33;
      font-family: "inter-regular";
      font-size: calc(24px + (24 - 20) * ((100vw - 1920px)/ (1920 - 1366)));
      font-weight: 800; }
    .home-page .home-page__header .header__main-nav .navbar-nav .nav-item {
      margin-right: 19px; }
      .home-page .home-page__header .header__main-nav .navbar-nav .nav-item:last-child {
        margin-right: 57px; }
      .home-page .home-page__header .header__main-nav .navbar-nav .nav-item .nav-link {
        color: #002147;
        font-family: "inter-regular";
        font-weight: bold;
        font-size: calc(16px + (16 - 14) * ((100vw - 1920px)/ (1920 - 1366)));
        line-height: 1.31; }
    .home-page .home-page__header .header__main-nav form .yellow-button {
      margin-right: 16px; }
  .home-page .home-page__header .header__caption .caption__brief {
    margin-top: 73px; }
    .home-page .home-page__header .header__caption .caption__brief .brief__small-header {
      font-family: "inter-regular";
      font-weight: bold;
      line-height: 2.6;
      color: #002147;
      font-size: calc(30px + (30 - 25) * ((100vw - 1920px)/ (1920 - 1366))); }
    .home-page .home-page__header .header__caption .caption__brief .brief__big-header {
      font-family: "georgia-regular-font";
      line-height: 1.3;
      color: #002147;
      font-size: calc(60px + (60 - 48) * ((100vw - 1920px)/ (1920 - 1366)));
      margin-top: -9.95px;
      margin-bottom: 22.65px; }
    .home-page .home-page__header .header__caption .caption__brief .brief--yellow-button {
      min-width: 181px;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-right: 12px;
      font-weight: 500; }
    .home-page .home-page__header .header__caption .caption__brief .brief--search-button {
      padding-top: 14px;
      padding-bottom: 14px;
      min-width: 178px; }
  .home-page .home-page__header .header__event {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -99px; }
    .home-page .home-page__header .header__event .event__info {
      background-color: #002147;
      color: #fff;
      border: 1px solid #707070;
      border-radius: 12px;
      padding: 23px 35px; }
      .home-page .home-page__header .header__event .event__info .info__header {
        font-size: calc(30px + (30 - 25) * ((100vw - 1920px)/ (1920 - 1366)));
        font-family: "georgia-regular-font";
        font-weight: bold;
        line-height: 1.17;
        margin-left: -13px; }
        .home-page .home-page__header .header__event .event__info .info__header span {
          color: #fdc800; }
      .home-page .home-page__header .header__event .event__info .info__time {
        margin-left: 44px; }
        .home-page .home-page__header .header__event .event__info .info__time h2 {
          font-size: calc(60px + (60 - 48) * ((100vw - 1920px)/ (1920 - 1366)));
          font-family: "inter-regular";
          font-weight: bold;
          line-height: 1.3;
          margin-bottom: 0; }
        .home-page .home-page__header .header__event .event__info .info__time p {
          font-size: calc(14px + (14 - 12) * ((100vw - 1920px)/ (1920 - 1366)));
          font-family: "inter-regular";
          margin-bottom: 0;
          margin-top: -7px; }
        .home-page .home-page__header .header__event .event__info .info__time .time__days::after {
          content: ":";
          position: absolute;
          right: -45px;
          font-size: calc(30px + (30 - 25) * ((100vw - 1920px)/ (1920 - 1366)));
          top: 40%;
          transform: translateY(-50%); }
        .home-page .home-page__header .header__event .event__info .info__time .time__hours::after {
          content: ":";
          position: absolute;
          right: -45px;
          font-size: calc(30px + (30 - 25) * ((100vw - 1920px)/ (1920 - 1366)));
          top: 40%;
          transform: translateY(-50%); }
        .home-page .home-page__header .header__event .event__info .info__time .time__minutes::after {
          content: ":";
          position: absolute;
          right: -45px;
          font-size: calc(30px + (30 - 25) * ((100vw - 1920px)/ (1920 - 1366)));
          top: 40%;
          transform: translateY(-50%); }

@media screen and (max-width: 1366px) and (min-width: 1200px) {
  .home-page .home-page__header .header__info-nav .info-nav__main-info {
    font-size: calc(12px + (12 - 10) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__header .header__info-nav .info-nav__main-info .icon-message::before {
      font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__info-nav .info-nav__social-icons {
    font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__main-nav .navbar-brand {
    font-size: calc(20px + (20 - 16) * ((100vw - 1366px)/ (1633 - 320))); }
  .home-page .home-page__header .header__main-nav .navbar-nav .nav-item .nav-link {
    font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__caption .caption__brief .brief__small-header {
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__caption .caption__brief .brief__big-header {
    font-size: calc(60px + (60 - 48) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__header {
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time h2 {
    font-size: calc(60px + (60 - 48) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time p {
    font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time .time__days::after {
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time .time__hours::after {
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time .time__minutes::after {
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); } }
@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .home-page .home-page__header .header__info-nav .info-nav__main-info {
    font-size: calc(12px + (12 - 10) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__header .header__info-nav .info-nav__main-info .icon-message::before {
      font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__info-nav .info-nav__social-icons {
    font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__main-nav .navbar-brand {
    font-size: calc(20px + (20 - 16) * ((100vw - 1366px)/ (1633 - 320))); }
  .home-page .home-page__header .header__main-nav .navbar-nav .nav-item .nav-link {
    font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__caption .caption__brief .brief__small-header {
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__caption .caption__brief .brief__big-header {
    font-size: calc(48px + (48 - 35) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__image img:last-child {
    display: none; }
  .home-page .home-page__header .header__event .event__info .info__header h2 {
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time h2 {
    font-size: calc(48px + (48 - 48) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time p {
    font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time .time__days::after {
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time .time__hours::after {
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time .time__minutes::after {
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); } }
@media screen and (max-width: 1025px) and (min-width: 992px) {
  .home-page .home-page__header .header__info-nav .info-nav__main-info {
    font-size: calc(12px + (12 - 10) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__header .header__info-nav .info-nav__main-info .icon-message::before {
      font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__info-nav .info-nav__social-icons {
    font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__main-nav .navbar-brand {
    font-size: calc(20px + (20 - 16) * ((100vw - 1366px)/ (1633 - 320))); }
  .home-page .home-page__header .header__main-nav .navbar-nav .nav-item .nav-link {
    font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__caption .caption__brief .brief__small-header {
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__caption .caption__brief .brief__big-header {
    font-size: calc(48px + (48 - 35) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__image img:last-child {
    display: none; }
  .home-page .home-page__header .header__event .event__info .info__header h2 {
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time h2 {
    font-size: calc(48px + (48 - 48) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time p {
    font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time .time__days::after {
    right: -34px;
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time .time__hours::after {
    right: -34px;
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time .time__minutes::after {
    right: -34px;
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); } }
@media screen and (max-width: 992px) and (min-width: 768px) {
  .home-page .home-page__header .header__info-nav .info-nav__main-info {
    width: 60%;
    font-size: calc(12px + (12 - 10) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__header .header__info-nav .info-nav__main-info .icon-message::before {
      font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__info-nav .info-nav__social-icons {
    font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__main-nav .navbar-brand {
    font-size: calc(20px + (20 - 16) * ((100vw - 1366px)/ (1633 - 320))); }
  .home-page .home-page__header .header__main-nav .navbar-nav .nav-item .nav-link {
    font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__caption .caption__brief .brief__small-header {
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__caption .caption__brief .brief__big-header {
    font-size: calc(35px + (35 - 30) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__image img:last-child {
    display: none; }
  .home-page .home-page__header .header__event .event__info .info__header h2 {
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time h2 {
    font-size: calc(48px + (48 - 48) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time p {
    font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time .time__days::after {
    right: -15px;
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time .time__hours::after {
    right: -15px;
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time .time__minutes::after {
    right: -15px;
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); } }
@media screen and (max-width: 767px) and (min-width: 481px) {
  .home-page .home-page__header .header__info-nav .info-nav__main-info {
    width: 100%;
    font-size: calc(12px + (12 - 10) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__header .header__info-nav .info-nav__main-info .icon-message::before {
      margin-left: 16px;
      font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__info-nav .info-nav__social-icons {
    font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__main-nav .navbar-brand {
    font-size: calc(20px + (20 - 16) * ((100vw - 1366px)/ (1633 - 320))); }
  .home-page .home-page__header .header__main-nav .navbar-nav .nav-item .nav-link {
    font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__caption .caption__brief .brief__small-header {
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__caption .caption__brief .brief__big-header {
    font-size: calc(35px + (35 - 30) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__image img {
    display: none; }
  .home-page .home-page__header .header__event .event__info .info__header h2 {
    text-align: center;
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__header .header__event .event__info .info__time {
    margin-left: 0; }
    .home-page .home-page__header .header__event .event__info .info__time h2 {
      font-size: calc(48px + (48 - 48) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__header .header__event .event__info .info__time p {
      font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__header .header__event .event__info .info__time .time__days::after {
      right: -32px;
      font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__header .header__event .event__info .info__time .time__hours::after {
      right: -32px;
      font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__header .header__event .event__info .info__time .time__minutes::after {
      right: -32px;
      font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); } }
@media screen and (max-width: 480px) and (min-width: 320px) {
  .home-page .home-page__header {
    padding-bottom: 140px; }
    .home-page .home-page__header .header__info-nav .info-nav__main-info {
      display: flex;
      width: 100%;
      font-size: calc(12px + (12 - 10) * ((100vw - 1366px)/ (1366 - 320))); }
      .home-page .home-page__header .header__info-nav .info-nav__main-info .icon-message::before {
        margin-left: 0;
        font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__header .header__info-nav .info-nav__social-icons {
      font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__header .header__main-nav .navbar-brand {
      font-size: calc(20px + (20 - 16) * ((100vw - 1366px)/ (1633 - 320))); }
    .home-page .home-page__header .header__main-nav .navbar-nav .nav-item .nav-link {
      font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__header .header__caption .caption__brief .brief__small-header {
      font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__header .header__caption .caption__brief .brief__big-header {
      font-size: calc(30px + (30 - 25) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__header .header__caption .caption__brief .brief--yellow-button {
      margin-right: 0;
      margin-bottom: 15px; }
    .home-page .home-page__header .header__event .event__info .info__image img {
      display: none; }
    .home-page .home-page__header .header__event .event__info .info__header h2 {
      text-align: center;
      font-size: calc(20px + (20 - 15) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__header .header__event .event__info .info__time {
      margin-left: 0; }
      .home-page .home-page__header .header__event .event__info .info__time h2 {
        font-size: calc(30px + (30 - 25) * ((100vw - 1366px)/ (1366 - 320))); }
      .home-page .home-page__header .header__event .event__info .info__time p {
        font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
      .home-page .home-page__header .header__event .event__info .info__time .time__days::after {
        right: -18px;
        font-size: calc(20px + (20 - 15) * ((100vw - 1366px)/ (1366 - 320))); }
      .home-page .home-page__header .header__event .event__info .info__time .time__hours::after {
        right: -18px;
        font-size: calc(20px + (20 - 15) * ((100vw - 1366px)/ (1366 - 320))); }
      .home-page .home-page__header .header__event .event__info .info__time .time__minutes::after {
        right: -18px;
        font-size: calc(20px + (20 - 15) * ((100vw - 1366px)/ (1366 - 320))); } }
.home-page .home-page__courses {
  margin-top: 179px;
  padding-bottom: 93px; }
  .home-page .home-page__courses .courses__header h2 {
    font-size: calc(48px + (48 - 35) * ((100vw - 1920px)/ (1920 - 1366)));
    color: #002147;
    font-family: "georgia-regular-font";
    line-height: 1.63;
    font-weight: bold; }
  .home-page .home-page__courses .custom-card {
    margin-top: 36px;
    height: 92%;
    margin-bottom: 30px;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    position: relative; }
    .home-page .home-page__courses .custom-card .custom-card__title {
      margin: 9px 17px 3px 14px; }
      .home-page .home-page__courses .custom-card .custom-card__title h4 {
        font-family: "inter-regular";
        font-weight: bold;
        font-size: calc(20px + (20 - 18) * ((100vw - 1920px)/ (1920 - 1366)));
        line-height: 1.2;
        color: #002147;
        margin-bottom: 0; }
    .home-page .home-page__courses .custom-card .custom-card__footer p {
      font-family: "inter-regular";
      font-size: calc(14px + (14 - 14) * ((100vw - 1920px)/ (1920 - 1366)));
      color: #757575;
      line-height: 1.71;
      margin: -20px 17px 22px 14px; }
    .home-page .home-page__courses .custom-card .custom-card__small-img {
      position: absolute;
      padding: 8px;
      background-color: #f0f4f9;
      left: 16px;
      top: 140px; }

@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .home-page .home-page__courses .courses__header h2 {
    font-size: calc(35px + (35 - 30) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__courses .custom-card .custom-card__title h4 {
    font-size: calc(18px + (18 - 16) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__courses .custom-card .custom-card__footer p {
    font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__courses .custom-card .custom-card__small-img {
    top: 106px; } }
@media screen and (max-width: 1025px) and (min-width: 992px) {
  .home-page .home-page__courses .courses__header h2 {
    font-size: calc(35px + (35 - 30) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__courses .custom-card .custom-card__title h4 {
    font-size: calc(18px + (18 - 16) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__courses .custom-card .custom-card__footer p {
    font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__courses .custom-card .custom-card__small-img {
    top: 106px; } }
@media screen and (max-width: 992px) and (min-width: 768px) {
  .home-page .home-page__courses .courses__header h2 {
    font-size: calc(30px + (30 - 25) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__courses .custom-card .custom-card__title {
    margin-top: 4px; }
    .home-page .home-page__courses .custom-card .custom-card__title h4 {
      font-size: calc(16px + (16 - 14) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__courses .custom-card .custom-card__footer p {
    font-size: calc(12px + (12 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__courses .custom-card .custom-card__small-img {
    width: 40px;
    height: 40px;
    padding: 4px;
    top: 97px; }
    .home-page .home-page__courses .custom-card .custom-card__small-img img {
      width: 100%;
      height: 100%; } }
@media screen and (max-width: 767px) and (min-width: 481px) {
  .home-page .home-page__courses .courses__header h2 {
    font-size: calc(30px + (30 - 25) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__courses .custom-card .custom-card__small-img {
    top: 235px; } }
@media screen and (max-width: 576px) and (min-width: 481px) {
  .home-page .home-page__courses .courses__header h2 {
    font-size: calc(30px + (30 - 25) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__courses .custom-card .custom-card__small-img {
    top: 190px; } }
@media screen and (max-width: 480px) and (min-width: 320px) {
  .home-page .home-page__courses .courses__header h2 {
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__courses .custom-card .custom-card__small-img {
    top: 100px; } }
.home-page .home-page__student {
  margin-top: 114px;
  padding-bottom: 112px; }
  .home-page .home-page__student .student__image {
    left: 29px; }
    .home-page .home-page__student .student__image .image__small-img {
      position: absolute;
      top: -34px;
      left: -29px;
      border-radius: 6px; }
    .home-page .home-page__student .student__image .image__caption {
      position: absolute;
      text-align: center;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0 4px 43px 0 rgba(0, 0, 0, 0.03);
      min-width: 400px;
      left: 71px;
      bottom: -38.5px;
      padding: 16px 48px 14px 16px; }
      .home-page .home-page__student .student__image .image__caption h4 {
        color: #002147;
        font-size: calc(20px + (20 - 18) * ((100vw - 1920px)/ (1920 - 1366)));
        font-family: "inter-regular";
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 0; }
      .home-page .home-page__student .student__image .image__caption p {
        font-size: calc(14px + (14 - 12) * ((100vw - 1920px)/ (1920 - 1366)));
        font-family: "inter-regular";
        line-height: 1.71;
        color: #757575; }
  .home-page .home-page__student .student__info .info__big-header {
    font-size: calc(48px + (48 - 35) * ((100vw - 1920px)/ (1920 - 1366)));
    font-family: "georgia-regular-font";
    font-weight: bold;
    line-height: 1.25;
    color: #002147;
    margin-top: -6px;
    margin-bottom: 16px; }
    .home-page .home-page__student .student__info .info__big-header span {
      color: #fdc800; }
  .home-page .home-page__student .student__info .info__paragraph {
    color: #002147;
    font-size: calc(17px + (17 - 16) * ((100vw - 1920px)/ (1920 - 1366)));
    font-family: "inter-regular";
    line-height: 1.5;
    margin-bottom: 45px; }
  .home-page .home-page__student .student__info .info__small-header {
    color: #002147;
    font-family: "inter-regular";
    font-size: calc(16px + (16 - 14) * ((100vw - 1920px)/ (1920 - 1366)));
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 13px; }
  .home-page .home-page__student .student__info .info__caption {
    background-color: #f0f4f9;
    max-width: 511px;
    left: 63px;
    padding: 0 134px 0 41px;
    border-radius: 6px; }
    .home-page .home-page__student .student__info .info__caption .caption__header {
      font-size: calc(16px + (16 - 14) * ((100vw - 1920px)/ (1920 - 1366)));
      font-family: "inter-regular";
      font-weight: bold;
      color: #002147;
      line-height: 1.5;
      padding-top: 24px;
      margin-bottom: 2px; }
    .home-page .home-page__student .student__info .info__caption .caption__footer {
      color: #757575;
      font-family: #757575;
      font-size: calc(14px + (14 - 12) * ((100vw - 1920px)/ (1920 - 1366)));
      line-height: 1.71;
      padding-bottom: 24px; }
    .home-page .home-page__student .student__info .info__caption .caption__image {
      position: absolute;
      border-radius: 6px;
      background-color: teal;
      min-width: 80px;
      min-height: 80px;
      left: -63px;
      top: 8px; }

@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .home-page .home-page__student .student__image {
    left: 7px; }
    .home-page .home-page__student .student__image img {
      width: 100%; }
    .home-page .home-page__student .student__image .image__small-img {
      left: -7px; }
    .home-page .home-page__student .student__image .image__caption {
      min-width: 328px; }
      .home-page .home-page__student .student__image .image__caption h4 {
        font-size: calc(18px + (18 - 16) * ((100vw - 1366px)/ (1366 - 320))); }
      .home-page .home-page__student .student__image .image__caption p {
        font-size: calc(12px + (12 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__student .student__info .info__big-header {
    font-size: calc(35px + (35 - 30) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__student .student__info .info__paragraph {
    font-size: calc(16px + (16 - 14) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__student .student__info .info__small-header {
    font-size: calc(14px + (14 - 14) * ((100vw - 1366px)/ (1366 - 320)));
    margin-bottom: 35px; }
  .home-page .home-page__student .student__info .info__caption {
    max-width: 100%;
    left: 0; }
    .home-page .home-page__student .student__info .info__caption .caption__header {
      font-size: calc(16px + (16 - 14) * ((100vw - 1920px)/ (1920 - 1366)));
      font-family: "inter-regular";
      font-weight: bold;
      color: #002147;
      line-height: 1.5;
      padding-top: 24px;
      margin-bottom: 2px; }
    .home-page .home-page__student .student__info .info__caption .caption__footer {
      color: #757575;
      font-family: #757575;
      font-size: calc(14px + (14 - 12) * ((100vw - 1920px)/ (1920 - 1366)));
      line-height: 1.71;
      padding-bottom: 24px; }
    .home-page .home-page__student .student__info .info__caption .caption__image {
      display: none; } }
@media screen and (max-width: 1025px) and (min-width: 992px) {
  .home-page .home-page__student .student__image {
    left: 0; }
    .home-page .home-page__student .student__image img {
      width: 100%; }
    .home-page .home-page__student .student__image .image__small-img {
      display: none; }
    .home-page .home-page__student .student__image .image__caption {
      min-width: 328px; }
      .home-page .home-page__student .student__image .image__caption h4 {
        font-size: calc(18px + (18 - 16) * ((100vw - 1366px)/ (1366 - 320))); }
      .home-page .home-page__student .student__image .image__caption p {
        font-size: calc(12px + (12 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__student .student__info .info__big-header {
    font-size: calc(35px + (35 - 30) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__student .student__info .info__paragraph {
    font-size: calc(16px + (16 - 14) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__student .student__info .info__small-header {
    font-size: calc(14px + (14 - 14) * ((100vw - 1366px)/ (1366 - 320)));
    margin-bottom: 35px; }
  .home-page .home-page__student .student__info .info__caption {
    max-width: 100%;
    left: 0; }
    .home-page .home-page__student .student__info .info__caption .caption__header {
      font-size: calc(16px + (16 - 14) * ((100vw - 1920px)/ (1920 - 1366)));
      font-family: "inter-regular";
      font-weight: bold;
      color: #002147;
      line-height: 1.5;
      padding-top: 24px;
      margin-bottom: 2px; }
    .home-page .home-page__student .student__info .info__caption .caption__footer {
      color: #757575;
      font-family: #757575;
      font-size: calc(14px + (14 - 12) * ((100vw - 1920px)/ (1920 - 1366)));
      line-height: 1.71;
      padding-bottom: 24px; }
    .home-page .home-page__student .student__info .info__caption .caption__image {
      display: none; } }
@media screen and (max-width: 992px) and (min-width: 768px) {
  .home-page .home-page__student .student__image {
    left: 0; }
    .home-page .home-page__student .student__image img {
      width: 100%; }
    .home-page .home-page__student .student__image .image__small-img {
      display: none; }
    .home-page .home-page__student .student__image .image__caption {
      min-width: 241px;
      left: 51px; }
      .home-page .home-page__student .student__image .image__caption h4 {
        font-size: calc(18px + (18 - 16) * ((100vw - 1366px)/ (1366 - 320))); }
      .home-page .home-page__student .student__image .image__caption p {
        font-size: calc(12px + (12 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__student .student__info .info__big-header {
    font-size: calc(30px + (30 - 25) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__student .student__info .info__paragraph {
    font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320)));
    margin-bottom: 15px; }
  .home-page .home-page__student .student__info .info__small-header {
    font-size: calc(14px + (14 - 14) * ((100vw - 1366px)/ (1366 - 320)));
    margin-bottom: 5px; }
  .home-page .home-page__student .student__info .info__caption {
    max-width: 100%;
    left: 0;
    padding-right: 90px; }
    .home-page .home-page__student .student__info .info__caption .caption__header {
      font-size: calc(14px + (14 - 12) * ((100vw - 1920px)/ (1920 - 1366))); }
    .home-page .home-page__student .student__info .info__caption .caption__footer {
      font-size: calc(14px + (14 - 12) * ((100vw - 1920px)/ (1920 - 1366))); }
    .home-page .home-page__student .student__info .info__caption .caption__image {
      display: none; } }
@media screen and (max-width: 767px) and (min-width: 481px) {
  .home-page .home-page__student .student__image {
    left: 0;
    margin-bottom: 60px; }
    .home-page .home-page__student .student__image img {
      width: 100%; }
    .home-page .home-page__student .student__image .image__small-img {
      display: none; }
    .home-page .home-page__student .student__image .image__caption {
      min-width: 328px;
      left: 71px; }
      .home-page .home-page__student .student__image .image__caption h4 {
        font-size: calc(20px + (20 - 18) * ((100vw - 1366px)/ (1366 - 320))); }
      .home-page .home-page__student .student__image .image__caption p {
        font-size: calc(16px + (16 - 14) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__student .student__info .info__big-header {
    font-size: calc(30px + (30 - 25) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__student .student__info .info__paragraph {
    font-size: calc(16px + (16 - 14) * ((100vw - 1366px)/ (1366 - 320)));
    margin-bottom: 15px; }
  .home-page .home-page__student .student__info .info__small-header {
    font-size: calc(14px + (14 - 14) * ((100vw - 1366px)/ (1366 - 320)));
    margin-bottom: 15px; }
  .home-page .home-page__student .student__info .info__caption {
    max-width: 100%;
    left: 0;
    padding-right: 90px; }
    .home-page .home-page__student .student__info .info__caption .caption__header {
      font-size: calc(18px + (18 - 16) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__student .student__info .info__caption .caption__footer {
      font-size: calc(16px + (16 - 14) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__student .student__info .info__caption .caption__image {
      display: none; } }
@media screen and (max-width: 480px) and (min-width: 320px) {
  .home-page .home-page__student .student__image {
    left: 0;
    margin-bottom: 60px; }
    .home-page .home-page__student .student__image img {
      width: 100%; }
    .home-page .home-page__student .student__image .image__small-img {
      display: none; }
    .home-page .home-page__student .student__image .image__caption {
      min-width: 200px;
      left: 50px;
      padding-right: 16px; }
      .home-page .home-page__student .student__image .image__caption h4 {
        font-size: calc(18px + (18 - 16) * ((100vw - 1366px)/ (1366 - 320))); }
      .home-page .home-page__student .student__image .image__caption p {
        font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__student .student__info .info__big-header {
    font-size: calc(25px + (25 - 20) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__student .student__info .info__paragraph {
    font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320)));
    margin-bottom: 15px; }
  .home-page .home-page__student .student__info .info__small-header {
    font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320)));
    margin-bottom: 15px; }
  .home-page .home-page__student .student__info .info__caption {
    max-width: 100%;
    left: 0;
    padding-right: 30px;
    padding-left: 30px; }
    .home-page .home-page__student .student__info .info__caption .caption__header {
      font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__student .student__info .info__caption .caption__footer {
      font-size: calc(12px + (12 - 10) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__student .student__info .info__caption .caption__image {
      display: none; } }
.home-page .home-page__counter {
  background-color: #f0f4f9;
  padding-top: 80px;
  padding-bottom: 100px; }
  .home-page .home-page__counter .counter__item .item__image {
    max-width: 200px;
    height: 200px;
    margin: auto; }
  .home-page .home-page__counter .counter__item p {
    color: #002147;
    font-family: "georgia-regular-font";
    font-size: calc(60px + (60 - 48) * ((100vw - 1920px)/ (1920 - 1366)));
    font-weight: bold;
    margin-bottom: 0; }
  .home-page .home-page__counter .counter__item h5 {
    color: #00b2b2;
    font-family: "inter-regular";
    font-size: calc(16px + (16 - 14) * ((100vw - 1920px)/ (1920 - 1366)));
    font-weight: bold;
    line-height: 1.5;
    margin-top: -11px; }

@media screen and (max-width: 992px) and (min-width: 768px) {
  .home-page .home-page__counter .counter__item {
    margin-bottom: 30px; }
    .home-page .home-page__counter .counter__item p {
      font-size: calc(60px + (60 - 48) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__counter .counter__item h5 {
      font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); } }
@media screen and (max-width: 767px) and (min-width: 481px) {
  .home-page .home-page__counter .counter__item {
    margin-bottom: 30px; }
    .home-page .home-page__counter .counter__item p {
      font-size: calc(60px + (60 - 48) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__counter .counter__item h5 {
      font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); } }
@media screen and (max-width: 480px) and (min-width: 320px) {
  .home-page .home-page__counter .counter__item {
    margin-bottom: 30px; }
    .home-page .home-page__counter .counter__item p {
      font-size: calc(60px + (60 - 48) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__counter .counter__item h5 {
      font-size: calc(14px + (14 - 12) * ((100vw - 1366px)/ (1366 - 320))); } }
.home-page .home-page__subscribe {
  padding-top: 80px;
  padding-bottom: 81.2px; }
  .home-page .home-page__subscribe .subscribe__info {
    padding-top: 95.5px; }
    .home-page .home-page__subscribe .subscribe__info .info__small-header {
      color: #fdc800;
      font-size: calc(16px + (16 - 14) * ((100vw - 1920px)/ (1920 - 1366)));
      font-family: "inter-regular";
      font-weight: bold;
      line-height: 3.75; }
    .home-page .home-page__subscribe .subscribe__info .info__big-header {
      color: #002147;
      font-size: calc(48px + (48 - 35) * ((100vw - 1920px)/ (1920 - 1366)));
      font-family: "georgia-regular-font";
      font-weight: bold;
      line-height: 1.25;
      max-width: 80%;
      margin-top: -19px;
      margin-bottom: 26px; }
    .home-page .home-page__subscribe .subscribe__info form {
      border: 1px solid #bdbdbd;
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding: 5px 6px 5px 12px; }
      .home-page .home-page__subscribe .subscribe__info form .form__input {
        width: 50%; }
        .home-page .home-page__subscribe .subscribe__info form .form__input .icon-message {
          margin-right: 16px; }
        .home-page .home-page__subscribe .subscribe__info form .form__input input {
          border: none; }
          .home-page .home-page__subscribe .subscribe__info form .form__input input:focus {
            outline: none; }
      .home-page .home-page__subscribe .subscribe__info form .form__button {
        width: 50%;
        text-align: right; }
        .home-page .home-page__subscribe .subscribe__info form .form__button .subscribe--button {
          min-width: 164px;
          padding: 10px 20px;
          margin-right: auto; }

@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .home-page .home-page__subscribe .subscribe__image img {
    width: 100%; }
  .home-page .home-page__subscribe .subscribe__info .info__big-header {
    width: 56%; } }
@media screen and (max-width: 1025px) and (min-width: 992px) {
  .home-page .home-page__subscribe .subscribe__image img {
    width: 100%; }
  .home-page .home-page__subscribe .subscribe__info .info__big-header {
    width: 56%; } }
@media screen and (max-width: 992px) and (min-width: 768px) {
  .home-page .home-page__subscribe .subscribe__image img {
    width: 100%; }
  .home-page .home-page__subscribe .subscribe__info .info__big-header {
    width: 65%; }
  .home-page .home-page__subscribe .subscribe__info form .form__input {
    font-size: calc(13px + (13 - 12) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__subscribe .subscribe__info form .form__input .icon-message {
      margin-right: 4px; }
  .home-page .home-page__subscribe .subscribe__info form .form__button .subscribe--button {
    min-width: 134px; } }
@media screen and (max-width: 767px) and (min-width: 481px) {
  .home-page .home-page__subscribe {
    padding-top: 30px; }
    .home-page .home-page__subscribe .subscribe__image img {
      display: none; }
    .home-page .home-page__subscribe .subscribe__info .info__small-header {
      font-size: calc(20px + (20 - 18) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__subscribe .subscribe__info .info__big-header {
      font-size: calc(48px + (48 - 48) * ((100vw - 1366px)/ (1366 - 320)));
      max-width: 86%; } }
@media screen and (max-width: 480px) and (min-width: 320px) {
  .home-page .home-page__subscribe {
    padding-top: 30px; }
    .home-page .home-page__subscribe .subscribe__image img {
      display: none; }
    .home-page .home-page__subscribe .subscribe__info .info__small-header {
      font-size: calc(20px + (20 - 18) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__subscribe .subscribe__info .info__big-header {
      font-size: calc(30px + (30 - 25) * ((100vw - 1366px)/ (1366 - 320)));
      max-width: 86%; }
    .home-page .home-page__subscribe .subscribe__info form .form__input {
      font-size: calc(12px + (12 - 10) * ((100vw - 1366px)/ (1366 - 320))); }
      .home-page .home-page__subscribe .subscribe__info form .form__input .icon-message {
        margin-right: 4px; }
    .home-page .home-page__subscribe .subscribe__info form .form__button .subscribe--button {
      min-width: 134px; } }
.generic-footer {
  background-color: #002147;
  padding-top: 80px;
  color: #fff; }
  .generic-footer .footer__info a {
    color: #fff;
    font-size: calc(23px + (23 - 20) * ((100vw - 1920px)/ (1920 - 1366)));
    font-family: "inter-regular";
    font-weight: 800;
    line-height: 1.35; }
  .generic-footer .footer__info .info__location {
    margin-top: 35px;
    margin-bottom: 25px;
    display: flex;
    max-width: 200px; }
    .generic-footer .footer__info .info__location .icon-location {
      font-size: calc(14px + (14 - 12) * ((100vw - 1920px)/ (1920 - 1366)));
      margin-right: 11px; }
    .generic-footer .footer__info .info__location span {
      font-family: "inter-regular";
      font-weight: 500;
      font-size: calc(16px + (16 - 14) * ((100vw - 1920px)/ (1920 - 1366)));
      line-height: 1.06; }
  .generic-footer .footer__info .info__mail {
    margin-bottom: 27px; }
    .generic-footer .footer__info .info__mail .icon-message {
      margin-right: 4px; }
    .generic-footer .footer__info .info__mail span {
      font-family: "inter-regular";
      font-weight: 500;
      font-size: calc(16px + (16 - 14) * ((100vw - 1920px)/ (1920 - 1366)));
      line-height: 1.06; }
  .generic-footer .footer__info .info__phone .icon-phone {
    margin-right: 4px; }
  .generic-footer .footer__info .info__phone span {
    font-family: "inter-regular";
    font-weight: 500;
    font-size: calc(16px + (16 - 14) * ((100vw - 1920px)/ (1920 - 1366)));
    line-height: 1.06; }
  .generic-footer .footer__community h4 {
    font-family: "inter-regular";
    font-size: calc(20px + (20 - 18) * ((100vw - 1920px)/ (1920 - 1366)));
    font-weight: bold;
    line-height: 1.8; }
  .generic-footer .footer__community ul li a {
    color: #fff;
    font-family: "inter-regular";
    font-size: calc(16px + (16 - 14) * ((100vw - 1920px)/ (1920 - 1366)));
    line-height: 2.25; }
  .generic-footer .footer__information h4 {
    font-family: "inter-regular";
    font-size: calc(20px + (20 - 18) * ((100vw - 1920px)/ (1920 - 1366)));
    font-weight: bold;
    line-height: 1.8; }
  .generic-footer .footer__information ul li a {
    color: #fff;
    font-family: "inter-regular";
    font-size: calc(16px + (16 - 14) * ((100vw - 1920px)/ (1920 - 1366)));
    line-height: 2.25; }
  .generic-footer .footer__more h4 {
    font-family: "inter-regular";
    font-size: calc(20px + (20 - 18) * ((100vw - 1920px)/ (1920 - 1366)));
    font-weight: bold;
    line-height: 1.8; }
  .generic-footer .footer__more ul li a {
    color: #fff;
    font-family: "inter-regular";
    font-size: calc(16px + (16 - 14) * ((100vw - 1920px)/ (1920 - 1366)));
    line-height: 2.25; }
  .generic-footer .footer__social {
    background-color: #fdc800;
    display: flex;
    align-items: center;
    padding: 16px 36px;
    margin-top: 19px; }
    .generic-footer .footer__social .social__copyright {
      color: #002147;
      font-size: calc(16px + (16 - 14) * ((100vw - 1920px)/ (1920 - 1366)));
      font-family: "inter-regular";
      line-height: 3.75;
      width: 50%;
      margin-bottom: 0; }
    .generic-footer .footer__social .social__icons {
      width: 50%;
      text-align: right; }
      .generic-footer .footer__social .social__icons a {
        color: #002147;
        line-height: 3.75;
        margin-right: 16px; }
        .generic-footer .footer__social .social__icons a:last-child {
          margin-right: 0; }

@media screen and (max-width: 767px) and (min-width: 481px) {
  .home-page .home-page__footer .footer__info {
    margin-bottom: 30px; }
  .home-page .home-page__footer .footer__community {
    margin-bottom: 20px; }
    .home-page .home-page__footer .footer__community h4 {
      font-size: calc(24px + (24 - 22) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__footer .footer__community ul li a {
      font-size: calc(18px + (18 - 16) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__footer .footer__information {
    margin-bottom: 20px; }
    .home-page .home-page__footer .footer__information h4 {
      font-size: calc(24px + (24 - 22) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__footer .footer__information ul li a {
      font-size: calc(18px + (18 - 16) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__footer .footer__more {
    margin-bottom: 20px; }
    .home-page .home-page__footer .footer__more h4 {
      font-size: calc(24px + (24 - 22) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__footer .footer__more ul li a {
      font-size: calc(18px + (18 - 16) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__footer .footer__social {
    padding: 5px 36px; } }
@media screen and (max-width: 480px) and (min-width: 320px) {
  .home-page .home-page__footer .footer__info {
    margin-bottom: 30px; }
  .home-page .home-page__footer .footer__community {
    margin-bottom: 20px; }
    .home-page .home-page__footer .footer__community h4 {
      font-size: calc(24px + (24 - 22) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__footer .footer__community ul li a {
      font-size: calc(18px + (18 - 16) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__footer .footer__information {
    margin-bottom: 20px; }
    .home-page .home-page__footer .footer__information h4 {
      font-size: calc(24px + (24 - 22) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__footer .footer__information ul li a {
      font-size: calc(18px + (18 - 16) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__footer .footer__more {
    margin-bottom: 20px; }
    .home-page .home-page__footer .footer__more h4 {
      font-size: calc(24px + (24 - 22) * ((100vw - 1366px)/ (1366 - 320))); }
    .home-page .home-page__footer .footer__more ul li a {
      font-size: calc(18px + (18 - 16) * ((100vw - 1366px)/ (1366 - 320))); }
  .home-page .home-page__footer .footer__social {
    padding: 10px 36px;
    flex-direction: column;
    text-align: center; }
    .home-page .home-page__footer .footer__social .social__copyright {
      font-size: calc(18 + (18 - 16) * ((100vw - 1366px)/ (1366 - 320)));
      line-height: 1;
      width: 100%;
      margin-bottom: 10px; }
    .home-page .home-page__footer .footer__social .social__icons {
      width: 100%;
      text-align: center; }
      .home-page .home-page__footer .footer__social .social__icons a {
        line-height: 1; } }
.course-page .course-page__header {
  position: relative;
  background-color: #f0f4f9;
  height: 100vh; }
  .course-page .course-page__header .generic-header {
    padding-top: 24px;
    margin-bottom: 33px; }
  .course-page .course-page__header .header__filter {
    position: relative; }
    .course-page .course-page__header .header__filter .filter__select {
      display: flex;
      margin-bottom: 36px; }
      .course-page .course-page__header .header__filter .filter__select .select__item {
        margin-right: 30px; }
        .course-page .course-page__header .header__filter .filter__select .select__item .item__header {
          font-family: "inter-regular";
          color: #002147;
          font-size: calc(18px + (20 - 18) * ((100vw - 1366px)/ (1920 - 1366)));
          line-height: 1.35;
          font-weight: bold;
          margin-bottom: 6px; }
        .course-page .course-page__header .header__filter .filter__select .select__item select {
          min-width: 270px;
          border-radius: 4px;
          border: 1px solid #bdbdbd;
          display: flex;
          align-items: center;
          padding: 9px 0 9px 16px;
          appearance: none; }
          .course-page .course-page__header .header__filter .filter__select .select__item select:focus {
            box-shadow: none; }
          .course-page .course-page__header .header__filter .filter__select .select__item select option {
            font-family: "inter-regular";
            font-size: calc(15px + (16 - 15) * ((100vw - 1366px)/ (1920 - 1366)));
            line-height: 1.31;
            font-weight: 500;
            color: #002147; }

/*# sourceMappingURL=main-rtl.css.map */
