@media (max-width: 1920px){
    .course-page{
        .course-page__header{
            background-color: $grayBackgroundColor;
            padding-bottom: 267px;
            .generic-header{
                padding-top: 24px;
                margin-bottom: 17px;
            }
            .select-options{
                margin-bottom: 22px;
                .select-item{
                    margin-right: 15px;
                    &:last-child{
                    margin-right: 0;
                    }
                    .item__header{
                        font-family: $interFont;
                            color: $mainColor;
                            font-size: calc(18px + (20 - 18) * ((100vw - 1366px)/ (1920 - 1366)));
                            line-height: 1.35;
                            font-weight: bold;
                            margin-bottom: 6px;
                    }
                    .form-select{
                        border-radius: 4px;
                        border: 1px solid #bdbdbd;
                        display: flex;
                        align-items: center;
                        padding: 9px 0 9px 16px;
                        appearance: none;
                        &:focus{
                            box-shadow: none;
                        }
                        option{
                            font-family: $interFont;
                            font-size: calc(15px + (16 - 15) * ((100vw - 1366px)/ (1920 - 1366)));
                            line-height: 1.31;
                            font-weight: 500;
                            color: $mainColor;
                        }
                    }
                } 
            }
            
                
        }
        .course-page__courses{
            padding-bottom: 0;
            margin-top: -255px;
        }
    }
}

@media (max-width: 1025px){
    .course-page{
        .course-page__header{
            
            padding-bottom: 215px;
            
                
        }
        .course-page__courses{
            padding-bottom: 0;
            margin-top: -210px;
        }
    }
        
    }


@media (max-width: 768px){
    .course-page{
        .course-page__header{
           
            padding-bottom: 160px;
           
            .select-options{
                
                .select-item{
                    
                    .item__header{
                            font-size: calc(17px + (18 - 17) * ((100vw - 320px)/ (1366 - 320)));
                    }
                    .form-select{
                        font-size: calc(13px + (14 - 13) * ((100vw - 320px)/ (1366 - 320)));
                        
                    }
                } 
            }
            
                
        }
        .course-page__courses{
            padding-bottom: 0;
            margin-top: -160px;
        }
    }
}

@media (max-width: 481px){
    .course-page{
        .course-page__header{
            padding-bottom: 303px;
            
            .select-options{
                .select-item{
                    margin-right: 0;
                    margin-bottom: 15px;
                    .item__header{
                            font-size: calc(18px + (20 - 18) * ((100vw - 320px)/ (1366 - 320)));
                            
                    }
                } 
            }
            
                
        }
        .course-page__courses{
            padding-bottom: 0;
            margin-top: -303px;
        }
    }
}

@media (max-width: 320px){
    .course-page{
        .course-page__header{
            padding-bottom: 260px;
            
            .select-options{
                .select-item{
                    margin-right: 0;
                    margin-bottom: 15px;
                    .item__header{
                            font-size: calc(17px + (18 - 17) * ((100vw - 320px)/ (1366 - 320)));
                            
                    }
                } 
            }
            
                
        }
        .course-page__courses{
            padding-bottom: 0;
            margin-top: -260px;
        }
    }
}
